/* ================ HEADER ================= */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
    padding: 0 1rem;
    z-index: var(--z-fixed);
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.header__img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.header__logo{
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: none;
}

.header__search {
    display: flex;
    padding: .40rem .75rem;
    border-radius: .25rem;
    background-color: var(--first-color-light);
}

.header__input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.header__input::placeholder {
    color: var(--text-color);
    font-family: var(--body-font);
}


.header__icon,
.header__toggle{
    font-size: 1.2rem;
}

.header__toggle{
    color: var(--title-color);
    cursor: pointer;
}


/*========== NAV ==========*/
.nav{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 0;
    background-color: var(--container-color);
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    z-index: var(--z-fixed);
    transition: .4s;
}


.nav__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
}

.nav__container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.nav__logo {
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2-5);
}


.nav__list,
.nav__items {
    display: grid;
}

.nav__list{
    row-gap: var(--mb-2-5);
}

.nav__items{
    row-gap: var(--mb-1-5);
}


.nav__subtitle{
    font-size: var(--normal-font);
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--text-color-light);
}


.nav__link{
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.nav__link:hover{
    color: var(--first-color);
}


.nav__icon{
    margin-right: .5rem;
    font-size: 1.2rem;
}

.nav__name{
    font-weight: var(--font-medium);
    white-space: nowrap;
    font-size: var(--small-font);
}

.nav__logout{
    margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown{
    overflow: hidden;
    max-height: 21px;
    transition: .4s ease-in-out;
}

.nav__dropdown-collaps{
    background-color: var(--first-color-light);
    border-radius: .25rem;
    margin-top: var(--mb-1);
}

.nav__dropdown-content{
    display: grid;
    row-gap: var(--mb-0-5);
    padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item{
    font-size: var(--smaller-font);
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.nav__dropdown-item:hover{
    color: var(--first-color);
}

.nav__dropdown-icon{
    margin-left: auto;
    transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover{
    max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon{
    transform: rotate(180deg);
}

/* ========= Show Menu ========== */
.show-menu{
    left: 0;
}

/* ========== Active Link ===========  */
.active {
    color: var(--first-color);
}


/* ========== MEDIA QUERIES ==========*/

/* For small devices reduce search*/

@media screen and (max-width: 320px) {
    .header__search {
        width: 70%;
    }
}


@media screen and (min-width: 768px) {
    .header{
        padding: 0 3rem 0 6rem;
    }

    .header__container{
        height: calc(var(--header-height) + .5rem);
    }

    .header__search {
        width: 300px;
        padding: .55rem .75rem;
    }

    .header__toggle{
        display: none;
    }

    .header__logo{
        display: block;
    }

    .header__img{
        width: 40px;
        height: 40px;
        order: 1;
    }

    .nav{
        left: 0;
        padding: 1.2rem 1.5rem 0;
        width: 68px;
    }

    .nav__items{
        row-gap: 1.7rem;
    }

    .nav__icon{
        font-size: 1.3rem;
    }

    /* Element Opacity */
    .nav__logo-name,
    .nav__name,
    .nav__subtitle,
    .nav__dropdown-icon{
        opacity: 0;
        transition: .3s;
    }

    /* Navbar expanded  */
    .nav:hover{
        width: var(--nav-width);
    }

    /* Visible Element */
    .nav:hover .nav__logo-name{
        opacity: 1;
    }

    .nav:hover .nav__name{
        opacity: 1;
    }

    .nav:hover .nav__subtitle{
        opacity: 1;
    }

    .nav:hover .nav__dropdown-icon{
        opacity: 1;
    }

}
    
