/* =================== GOOGLE FONTS =================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


/* =================== VARIABLE CSS =================== */

:root{
    --header-height: 3.5rem;
    --nav-width: 219px;

    /* ============== COLORS ============== */
    --first-color: #6923D0;
    --first-color-light: #F4F0FA;
    --second-color: #F4F0FA;
    --title-color: #19181B;
    --text-color: #58555E;
    --text-color-light: #A5A1AA;
    --body-color: #F9F6FD;
    --container-color: #FFFFFF;
    --warning-color: #FF0000;
    --box-shadow-color: rgba(22, 8, 43, 0.1);

    /* ============== FONT And TYPOGRAPHY ============== */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font: .938rem;
    --small-font: .813rem;
    --smaller-font: .75em;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ============ Margenes Bottom ================= */
    --mb-0-5: .5rem; 
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;


    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root {
        --big-font-size: 3.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
 

/*========== BASE ==========*/
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body {
    margin: var(--header-height) 0 0 0;
    padding: 1rem 1rem 0;
    background-color: var(--body-color);
    color: var(--text-color);
}
 
button{
    cursor: pointer;
    border: none;
    outline: none;
}

h1, h2, h3{
    color: var(--title-color); 
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}
  
a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

hr {
    color: var(--box-shadow-color);
    border-width: .5px;
}
  
/* ============= CLASSES ==============  */

.grid{
    display: grid;
    grid-template-columns: 100%;
    column-gap: var(--mb-2);
}

.flex{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================= BREAKPOINTS ================= */

/* For small devices */
@media screen and (max-width: 320px) {
    
}

@media screen and (max-width: 575px) {

}

/* For medium devices */
@media screen and (min-width: 576px) {

    
}


@media screen and (min-width: 767px) {
    body {
        padding: 2rem 2rem 0 6rem;
    }
}
 

/* For Large Devices  */
@media screen and (min-width: 992px) {

}
    

    